.App {
  width: 414px;
  height: 896px;
  margin: auto;
  background-color: #F8F8F8;
}

body {
  background-color: black;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
